*{
  text-align: center;  
  list-style: none;
}

header{
 text-decoration: underline;
 text-decoration-style;    
 background-image: url('../img/bulldog.jpg'); 
 background-size: cover;    
 background-color: #ee1d23;
 color: #000;
 font-size: 60px;
 padding: 320px 0 320px;  

}

#headers{
 border: solid;
 border-color: #000;
 border-width: thick;
 color: #fff;
 background-color: #ee1d23;    
 font-size: 30px;   
 padding: 5px 0 5px;      
     
}

